---
title: "Client-side Routing with React Router"
description: "A blog article explaining how to implement client-side routing with React Router."
pubDate: "Oct 19 2025"
---

<script lang="ts">
import { global as G } from "$lib/stores/global.svelte";
import Navigable from "$lib/components/navigable.svelte";

const rowMap: Record<number, number> = {
	0: 4,
	1: 0,
	2: 0,
	3: 0,
	4: 0,
	5: 0,
	6: 0,
	7: 0,
	8: 0,
	9: 0,
};

G.activeRow = 1;
G.maxRow = Object.keys(rowMap).length - 1;
G.indexMap = {};

$effect(() => {
	G.maxRowIndex = rowMap[G.activeRow] ?? 0;
});
</script>

<p>
This week, I've completed the 
<Navigable 
  content={"React"}
  href={"https://www.theodinproject.com/paths/full-stack-javascript/courses/react"}
  external={true}
  row={2}
  idx={0}
  underlined={true}
  multi={false}
/> course from The Odin Project! The final project for this one is developing a single page application that utilizes React Router for client-side routing. So, I'll go over what I've learned while doing this project.
</p>

First, let's talk about the difference of a single page application (SPA) from a multi-page application (MPA). A SPA is a web application that loads and updates content dynamically. So, every time we navigate through different pages in our app, the page doesn't need to reload!

<p>
However, for a MPA, the page would have to reload when we navigate through different sections. But, MPAs do have some advantages over SPAs, like 
<Navigable 
  content={"better SEO"}
  href={"https://medium.com/@sehban.alam/single-page-applications-spas-vs-multi-page-applications-mpas-advantages-and-challenges-df06bee3fed1"}
  external={true}
  row={3}
  idx={0}
  underlined={true}
  multi={false}
/>. As of writing, I actually refactored this blog of mine to a single page React application! I used to simply have different HTML files for each blog article.
</p>

So, where does client-side routing actually come into all of this? Well, it's what will help us in creating our SPA! Client-side routing is a type of routing where navigation between different pages of a web application is managed by the browser using JavaScript.

<p>
Client-side routing does come with some caveats. For example, you'd need to notify screen-readers of route updates manually. Thankfully, we can use a routing library for React applications like 
<Navigable 
  content={"React Router"}
  href={"https://reactrouter.com/"}
  external={true}
  row={4}
  idx={0}
  underlined={true}
  multi={false}
/> to help us with our concerns!
</p>

<p>
Let's take a look at some code from a 
<Navigable 
  content={"lesson"}
  href={"https://www.theodinproject.com/lessons/node-path-react-new-react-router"}
  external={true}
  row={5}
  idx={0}
  underlined={true}
  multi={false}
/> in The Odin Project:
</p>

```jsx
import { StrictMode } from "react";
import { createRoot } from "react-dom/client";
import { createBrowserRouter, RouterProvider } from "react-router";
import App from "./App";
import Profile from "./Profile";

const router = createBrowserRouter([
  {
    path: "/",
    element: <App />,
  },
  {
    path: "profile",
    element: <Profile />,
  },
]);

createRoot(document.getElementById("root")).render(
  <StrictMode>
    <RouterProvider router={router} />
  </StrictMode>
);
```

The `createBrowserRouter` and `RouterProvider` are the important stuff to take note of here. `createBrowserRouter` simply creates our router configuration. Its configuration will be based on the arguments passed into it, which will be an array of routes, represented as objects.

Each route has a `path` and `element` property. In the `path` property, the value should be its path (what a surprise!) in the URL. Then, in the `element` property, its value should be the component you want to render when the user navigates to the path you specified prior.

However, to make sure the browser does _not_ reload the page whenever we navigate through our application, we _**must**_ use `Link`, a custom element from React Router, instead of a regular `a` tag. It would look something like this:

```jsx
import { Link } from "react-router";

const App = () => {
  return (
    <div>
      <h1>Hello from the main page of the app!</h1>
      <p>Here are some examples of links to other pages</p>
      <nav>
        <ul>
          <li>
            <Link to="profile">Profile page</Link>
          </li>
        </ul>
      </nav>
    </div>
  );
};

export default App;
```

React Router has another useful custom element called `Outlet`. An `Outlet` basically lets us render a child route of a parent route. But, what's a child route? Let's take a look at an example, taken from the source code of this blog!

```jsx
// These are my routes, located in another file
const routes = [
  {
    path: '/',
    element: <App />,
    errorElement: <ErrorPage />,
    children: [
      { index: true, element: <HomePage /> },
      { path: '/:url', element: <ArticlePage /> },
    ],
  },
];

// App.jsx
import { Outlet } from 'react-router';

function App() {
  return (
    <>
      <Outlet />
    </>
  );
}
```

So, in our route, we introduced a new property called `children`. This property has an array of routes inside it. By default, it will render a `HomePage` component. However, if our URL changes (in this case, the user clicks on a blog article in the home page), then the `Outlet` will now render the `ArticlePage` component. Pretty cool!

And while we're on the topic of `Outlet`, it might be worth checking out `useOutletContext`. You can pass any value into the `context` prop of an `Outlet`, and then you can retrieve this value inside any child component using the `useOutletContext` hook.

You might notice as well that one of the child routes in our code above points to a path `/:url`.

`:` turns the path section after it into a "dynamic segment". Dynamic segments will match dynamic values in that URL's position. These are called `params`, which can be used with the help of the `useParams` hook. If you check out some of my other articles, you can see that their paths are dynamic!

<p>
And that's about it! I also learned some other stuff while doing the project like testing with 
<Navigable 
  content={"Vitest"}
  href={"https://vitest.dev/"}
  external={true}
  row={6}
  idx={0}
  underlined={true}
  multi={false}
/> and styling components with 
<Navigable 
  content={"CSS modules"}
  href={"https://github.com/css-modules/css-modules"}
  external={true}
  row={7}
  idx={0}
  underlined={true}
  multi={false}
/>. But, I wanted to focus on client-side routing for this article. Feel free to check out the 
<Navigable 
  content={"live preview"}
  href={"https://nexus-tech-shop.vercel.app/"}
  external={true}
  row={8}
  idx={0}
  underlined={true}
  multi={false}
/> and the 
<Navigable 
  content={"source code"}
  href={"https://github.com/arvingarciabtw/the-odin-project/tree/main/full-stack-javascript/fsj-04-react/23-shopping-cart"}
  external={true}
  row={9}
  idx={0}
  underlined={true}
  multi={false}
/> of my project!
</p>

I'm now on the databases course of The Odin Project, so I'll talk about that next week!
