---
title: "Illusion of Competence"
description: "Going over some thoughts on the recent AI landscape, and the illusion of competence present in a lot of novice developers."
pubDate: "Jul 05, 2026"
---

<script lang="ts">
import { global as G } from "$lib/stores/global.svelte";
import Navigable from "$lib/components/navigable.svelte";

const rowMap: Record<number, number> = {
	0: 4,
	1: 0,
	2: 0,
	3: 0,
};

G.activeRow = 1;
G.maxRow = Object.keys(rowMap).length - 1;
G.indexMap = {};

$effect(() => {
	G.maxRowIndex = rowMap[G.activeRow] ?? 0;
});
</script>

<p>
I recently came across this banger of a 
<Navigable 
  content={"video"}
  href={"https://www.youtube.com/watch?v=HTUh0OO6Kmo"}
  external={true}
  row={2}
  idx={0}
  underlined={true}
  multi={false}
/> by JetBrains Academy. If you haven't seen it yet, I suggest you do, especially if you're a novice developer and you feel stagnant with your learning.
</p>

I was delighted to see that JetBrains, a big name in the industry, explained very clearly what I've been pondering every now and then for the last couple of months. The illusion of competence that I feel like I see everywhere these days.

I feel like most devs overestimate their understanding of certain concepts. Perhaps they breeze through their learning journey seemingly faster, and they're quicker to build projects. AI generated some whatever code, they skim through it a bit, say "Yeah, I guess this makes sense" and call that feature done. But if you take a brief moment and ask them fundamental questions, their brain kind of goes blank.

But, I suppose it's not that surprising why it happens. Because keeping it real, it wasn't _them_ that thought of how to build that feature. It was all on the AI. They try to justify it by saying something along the lines of "Yeah, but I understood how it built the feature".

Hmm, but really though? I think a good rule of thumb is that if you can't explain and write it yourself, then clearly there's a gap in your learning.
It might be a good idea to take a step back, go solve the problem yourself, and keep repeating until it sticks.

To be fair though, as a new dev, it's so difficult to find a balance between AI usage and hand coding. I'm of the opinion that you really should be hand coding a lot more as someone new, but then again, it's so easy to feel pressured to give in to AI-centric coding. It certainly doesn't help that most of the people in the industry, especially those higher up in the chain, talk all of these great things about AI and 10x efficiency.

On a personal note, I try to catch myself if I feel like I'm falling under this illusion of competence. I've recently been trying to figure out my own workflow for how I can _minimally_ integrate AI into how I develop. I think it harms my chances as a dev if I _completely_ reject AI, given the state of the industry. So, it's important to come to terms with it, and find the middle ground that works for me.

A rule I set for myself is to _**never**_ let AI generate code in any way, be it through autocomplete or having an agent write the file themselves. And it should also _**never**_ plan out the architecture for me. It should come from my own research and my own instinct. Doesn't matter if it's wrong, at least I can provide my own reasoning for it.

<p>
I'm trying out having an agent that explicitly only points me towards relevant documentation for my problem, so I can go figure it out myself. I'm also messing around with a rubber duck-like agent, that questions my understanding via the Socratic method. I'll credit this approach to 
<Navigable 
  content={"boot.dev"}
  href={"https://www.boot.dev/"}
  external={true}
  row={3}
  idx={0}
  underlined={true}
  multi={false}
/>, this is how their AI assistant works. Although, I have it much stricter with questions only and no direct answers.
</p>

I'm still experimenting with what works, so maybe I'll write an update article in a couple months if these approaches leveraged my learning.