---
title: "React: The Basics"
description: "A blog article explaining the fundamentals of React."
pubDate: "Sep 14 2025"
---

<script lang="ts">
import { global as G } from "#lib/stores/global.svelte.js";
import Navigable from "#lib/components/navigable.svelte";

const rowMap: Record<number, number> = {
	0: 4,
	1: 0,
	2: 0,
	3: 0,
	4: 0,
	5: 0,
	6: 0,
	7: 0,
	8: 0,
};

G.activeRow = 1;
G.maxRow = Object.keys(rowMap).length - 1;

$effect(() => {
	G.maxRowIndex = rowMap[G.activeRow] ?? 0;
});
</script>

<p>
So far, I'm currently on the 
<Navigable 
  content={"React course"}
  href={"https://www.theodinproject.com/paths/full-stack-javascript/courses/react"}
  external={true}
  row={2}
  idx={0}
  underlined={true}
  multi={false}
/> of The Odin Project curriculum.
</p>

React is a JavaScript library that lets you build user interfaces out of individual pieces called components. You can create your own components and combine these components into entire screens, pages, and apps.

There's good reason why React is one of the most powerful and widely used JavaScript libraries. Some reasons why React is useful is due to components being reusable, React being unopinionated, and it being well-supported due to the large community.

<p>
There's many ways to set up React in a project, but 
<Navigable 
  content={"Vite"}
  href={"https://vite.dev/guide/"}
  external={true}
  row={3}
  idx={0}
  underlined={true}
  multi={false}
/> specifically was used in The Odin Project. Vite is essentially a fast tool that simplifies bundling and development server setup for web applications.
</p>

To scaffold a Vite project, just type and execute `npm create vite@latest` in the terminal and follow the prompts. The project name and the template can also be specified with additional command line options. For example:

The command `npm create vite@latest my-react-app -- --template react` would scaffold a Vite + React project.

Now, let's talk about React components. Components are simply independent reusable chunks that make up a user interface. So, you could have something like: an `App` component that represents the main application,`NavBar` which is the navigation bar, `MainContent` which contains the main content, and `Footer` which will be the footer.

React components are just JavaScript functions. It's important to remember though that React components _must_ be capitalized. So, a component would look like this:

```javascript
function Footer() {
  return <p>This is a footer</p>;
}
```

If the component was not capitalized, it would not work as expected.

<p>
We're able to write HTML markup inside a JavaScript because of 
<Navigable 
  content={"JSX"}
  href={"https://legacy.reactjs.org/docs/introducing-jsx.html"}
  external={true}
  row={4}
  idx={0}
  underlined={true}
  multi={false}
/>, a syntax extension for JavaScript. However, it's essential to know that JSX has some rules that must be followed:
</p>

1. Return a single root element.
2. Close all tags.
3. camelCase most things.

<p>
This 
<Navigable 
  content={"lesson"}
  href={"https://www.theodinproject.com/lessons/node-path-react-new-what-is-jsx"}
  external={true}
  row={5}
  idx={0}
  underlined={true}
  multi={false}
/> goes through the rules in a little bit more detail.
</p>

<p>
Sometimes, we'd want components to display different things depending on different conditions. We can conditionally render JSX using JavaScript syntax like <code>if</code> statements, <code>&&</code>, and <code>? :</code> operators. I don't want to make this article too long so I won't go into detail on those, but this 
<Navigable 
  content={"article"}
  href={"https://react.dev/learn/conditional-rendering"}
  external={true}
  row={6}
  idx={0}
  underlined={true}
  multi={false}
/> from the React documentation explains it well.
</p>

<p>
There are also times where we'd want to display multiple similar components from a collection of data. We can use the built-in JavaScript array methods to manipulate an array of data. This 
<Navigable 
  content={"article"}
  href={"https://react.dev/learn/rendering-lists"}
  external={true}
  row={7}
  idx={0}
  underlined={true}
  multi={false}
/> from the React documentation goes over how to use <code>filter()</code> and <code>map()</code> to filter and transform an array of data into an array of components.
</p>

<p>
That's about it for now. I'll talk more about state once I've finished the 
<Navigable 
  content={"CV Application"}
  href={"https://www.theodinproject.com/lessons/node-path-react-new-cv-application"}
  external={true}
  row={8}
  idx={0}
  underlined={true}
  multi={false}
/> project, as I'm currently on it right now. Hoping I'll finish it next week!
</p>
