/* css reset by josh comeau.
   https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}
*:not(dialog) {
	margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
#root,
#__next {
	isolation: isolate;
}

/* variables to be used globally, such as
   colors, spacings, etc. */
/* prettier-ignore */
html {
	--black: oklch(0.2408 0.0049 219.67);           /* #1D2021 */
	--red: oklch(0.5458 0.203 28.66);               /* #CC241D */
	--green: oklch(0.6564 0.1354 109.12);           /* #98971A */
	--yellow: oklch(0.7251 0.1429 77.71);           /* #D79921 */
	--blue: oklch(0.5756 0.0658 199.49);            /* #458588 */
	--magenta: oklch(0.5973 0.1105 352.22);         /* #B16286 */
	--cyan: oklch(0.645 0.0939 145.27);             /* #689D6A */
    --orange: oklch(0.622 0.171 45.8);              /* #D65D0E */
    --purple: oklch(0.518 0.122 316.5);             /* #8F3F71 */
	--white: oklch(0.6903 0.0346 76.31);            /* #A89984 */
	--bright-black: oklch(0.6192 0.0286 67.26);     /* #928374 */
	--bright-red: oklch(0.6597 0.2175 30.39);       /* #FB4934 */
	--bright-green: oklch(0.7652 0.1581 110.83);    /* #B8BB26 */
	--bright-yellow: oklch(0.8325 0.1595 82.99);    /* #FABD2F */
	--bright-blue: oklch(0.6927 0.042 169.77);      /* #83A598 */
	--bright-magenta: oklch(0.7054 0.0976 2.19);    /* #D3869B */
	--bright-cyan: oklch(0.7555 0.1078 137.68);     /* #8EC07C */
    --bright-orange: oklch(0.731 0.182 51.7);       /* #FE8019 */
    --bright-purple: oklch(0.7346 0.141 319.2);     /* #CF8BE1 */
	--bright-white: oklch(0.8941 0.0566 89.24);     /* #EBDBB2 */

    --home: var(--bright-red);
    --experience: var(--bright-green);
    --project: var(--bright-purple);
}

/* fonts. */
@font-face {
	font-family: 'commit-mono';
	font-display: swap;
	src: url('/fonts/commit-mono-regular-subset.woff2') format('woff2');
}

/* animations. */
@keyframes flicker {
	0%,
	20%,
	100% {
		background-color: var(--flicker-color);
	}
	10% {
		background-color: transparent;
	}
}
@keyframes shake-up {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes shake-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes shake-left {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-2px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes shake-right {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

/* general. */
html {
	display: grid;
	place-items: center;
	scrollbar-color: var(--bright-black) var(--black);
}
body {
	padding: 1rem 1.5rem;
	min-height: 100dvh;
	max-width: 2000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	background: var(--black);
	color: var(--bright-white);
	font-family: 'commit-mono', monospace;
	font-size: 0.875rem;
}
main {
	flex: 1;
}
@media (max-width: 500px) {
	body {
		font-size: 0.75rem;
	}
}
