---
title: "Test Coverage in Go"
description: "Test coverage in Go is pretty damn good."
pubDate: "Sep 20, 2026"
---

<script lang="ts">
import { global as G } from "$lib/stores/global.svelte";
import Navigable from "$lib/components/navigable.svelte";

const rowMap: Record<number, number> = {
	0: 4,
	1: 0,
	2: 0,
	3: 0,
	4: 0,
};

G.activeRow = 1;
G.maxRow = Object.keys(rowMap).length - 1;

$effect(() => {
	G.maxRowIndex = rowMap[G.activeRow] ?? 0;
});
</script>

Something cool I found out about Go: test coverage. I knew about the `-cover` flag:

```sh
go test -cover ./...
# ok github.com/sample/cmd/web 0.022s coverage: 67.0% of statements
# ...
```

But, you can even get more a detailed breakdown of test coverage *by method and function* with the `-coverprofile` flag:

```sh
go test -coverprofile=/tmp/profile.out ./...
go tool cover -func=/tmp/profile.out
# github.com/sample/cmd/web/handlers.go:31: firstHandler 81.9%
# github.com/sample/cmd/web/handlers.go:126: secondHandler 100.0%
# github.com/sample/cmd/web/handlers.go:132: thirdHandler 92.4%
# ...
```

But even better, you can use the `-html` flag instead:

```sh
go tool cover -html=/tmp/profile.out
```

<p>
And it will open a browser window containing your code, highlighting the lines covered in green, and in red for those that aren't. Here's an 
<Navigable 
  content={"image"}
  href={"https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.foomo.org%2Fassets%2Fimages%2Fcoverage-html-31939a8031afbabb8f2d0af5c7476644.webp&f=1&nofb=1&ipt=0d66a861d6f55ff7ff1c7af83291302fd8edd828da56d3135379a099677f695a"}
  external={true}
  row={2}
  idx={0}
  underlined={true}
  multi={false}
/> of what it would look like.
</p>

To take it even further, you could do `-covermode=count`:

```sh
go test -covermode=count -coverprofile=/tmp/profile.out ./...
go tool cover -html=/tmp/profile.out
```

<p>
The difference here is that frequently executed statements have a much more saturated green color, while those that are less are desaturated. Here's an 
<Navigable 
  content={"image"}
  href={"https://user-images.githubusercontent.com/3655711/170814899-2e28a87e-9a18-4a48-a6f1-4660665b7918.png"}
  external={true}
  row={3}
  idx={0}
  underlined={true}
  multi={false}
/> of what it would look like.
</p>

<p>
Pretty cool to see that this just natively comes in the <code>go</code> executable. I found this out through Alex Edwards' book, 
<Navigable 
  content={"Let's Go"}
  href={"https://lets-go.alexedwards.net"}
  external={true}
  row={4}
  idx={0}
  underlined={true}
  multi={false}
/>, so credits to him!
</p>
